*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 14px;
  height: 100%;
  
}
.container{
  width: 18rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.thankyou-logo{
  display: flex;
  justify-content: center;
  position: relative;
  top: 5vh;
  margin-bottom: 3rem;
}
.score {

  
  margin: 1rem auto;
  padding: .5rem;
  border: 1px solid black;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
  border-radius: 2rem;
  width: fit-content;
  text-align: center;
  margin-bottom: 1rem;
}

h1,p{
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  
}p{
  font-size: 14px;
  /* margin-inline: 2.5rem; */
  color:hsl(216, 12%, 54%);
  text-align: center;
}

@media screen and (min-width: 250px) and (max-width: 450px) {
  .container {
    height: 27rem;
    margin-top: 6rem;
    margin-bottom: 10rem;
  }
  .thankyou-logo{
    margin-bottom: 5rem;
  }
  p,h1,.score{
    margin-bottom: 2rem;
  }

  footer{
    margin-top: auto;
  }
}